@import "components/buttons";
@import "components/slider";
$form-floating-height: var(--sp-9);
$form-floating-label-transform: scale(0.85) translateY(-0.7rem) translateX(0.15rem);
$form-floating-input-padding-t: 1.1rem;
$form-floating-padding-x: var(--sp-4);
@import "vendor/bootstrap5/forms/floating-labels";

// hero area
img {
    max-width: 100%;
}
.hp-hero {
    position: relative;
    grid-row: 1;
    align-self: start;
    margin: 0;
    margin-left: var(--gap);
    isolation: isolate;
    &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        inset: 0 40% 0 0;
        background: linear-gradient(to right, white, transparent);
        z-index: 1;
        opacity: 0.95;
    }
    img {
        height: 635px;
        width: 100%;
        object-fit: cover;
        object-position: 70% 50%;
        @media (max-width: $xl) {
            height: 600px;
        }
    }
}
// intro seciton
.intro {
    align-self: start;
    margin-top: calc(var(--brand-height) + var(--sp-10));
    margin-left: calc(-1 * var(--gap));
    z-index: 2;
    grid-row: 1;
    position: relative;
    background-color: var(--c1d1t1);
    mix-blend-mode: multiply;
    padding: var(--sp-11) var(--sp-11) var(--sp-6);
    border-radius: var(--sp-11) 0 0 0;
    grid-column: 2 / span 5;
    @media (max-width: $xxl) {
        grid-column: 2 / span 6;
    }
    @media (max-width: $xl) {
        border-radius: var(--sp-8) 0 0 0;
        padding: var(--sp-8) var(--sp-8) var(--sp-6);
    }
    h1 {
        color: white;
        font-size: 2.5rem;
        line-height: 0.9;
        font-weight: 700;
        margin-bottom: var(--sp-5);
        em {
            color: var(--c4l1);
            font-style: normal;
        }
    }
    p {
        color: white;
        margin-bottom: var(--sp-9);
        font-size: var(--fs-lg);
        line-height: 1.39;
    }
    .scroll-msg {
        padding-left: var(--sp-6);
        position: relative;
    }
    .cta {
        color: var(--c4l1);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.17rem;
        font-weight: 700;
        // text-wrap: balance;
        max-width: 280px;
        margin-bottom: 0;
        line-height: 1.2;
    }
    .arrow {
        display: block;
        position: absolute;
        top: calc(-1 * var(--sp-3));
        left: 0;
        transform: translate3d(-50%, 0, 0);
    }
}

.intro-path-box {
    grid-row: 1;
    z-index: -1;
    margin-top: calc(var(--brand-height) + var(--sp-10));
    margin-left: calc(-1 * var(--gap));
    grid-template-rows: 90px auto auto;
    --size: 72px;
    --l1l: 850px;
    --l2l: 1250px;
    --l3l: 63px;
    svg {
        display: block;
        margin: calc(-1 * var(--sp-4));
        width: calc(100% + var(--sp-4));
        height: calc(100% + var(--sp-7));
        overflow: visible;

        @media (max-width: $xl) {
            --size: var(--sp-9);
        }
    }
    :is(circle, path, line) {
        fill: none;
        stroke: var(--c3l1);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 10px;
        @include t;
        --t-time: 1s;
    }

    circle {
        cx: var(--size);
        cy: var(--size);
        r: var(--size);
        --c: calc(2 * 3.14 * var(--size));
        --c1: calc(var(--c) * 1.2);
        stroke-dasharray: var(--c), var(--c);
        stroke-dashoffset: var(--c);
    }

    :is(.line1, .line1xxl) {
        stroke-dasharray: var(--l1l), var(--l1l);
        stroke-dashoffset: var(--l1l);
    }
    .line1xxl {
        @media (max-width: $xl) {
            display: none;
        }
    }
    .line1 {
        @media (min-width: $xlp) {
            display: none;
        }
    }
    .line2 {
        stroke-dasharray: var(--l2l), var(--l2l);
        stroke-dashoffset: var(--l2l);
    }
    .line3 {
        stroke: var(--c2l1);
        stroke-dasharray: var(--l3l), var(--l3l);
        stroke-dashoffset: var(--l3l);
    }
    @keyframes cin {
        from {
            stroke-dashoffset: 0;
        }
    }
    @keyframes lin {
        to {
            stroke-dashoffset: 0;
        }
    }
    &[data-in="true"] {
        circle {
            transition-timing-function: ease-in;
            transition-delay: 0.5s;
            transition-duration: 0.25s;
            stroke-dashoffset: var(--c1);
        }
        :is(.line1, .line1xxl) {
            transition-timing-function: linear;
            transition-delay: 0.75s;
            transition-duration: 0.5s;
            stroke-dashoffset: 0;
        }
        .line2 {
            transition-timing-function: linear;
            transition-delay: 1s;
            transition-duration: 0.5s;
            stroke-dashoffset: 0;
        }
        .line3 {
            transition-delay: 1.5s;
            transition-duration: 0.4s;
            stroke-dashoffset: 0;
        }
    }
}
// improvement is possible
.improve {
    grid-column: 3/-3;
    margin-top: var(--sp-17);
    margin: var(--sp-17) calc(-1 * var(--gap)) 0;
    display: grid;
    grid-template-columns: subgrid;
    @media (max-width: $xxl) {
        grid-column: 3/-2;
    }
    h2 {
        grid-column: span 3;
        font-size: 3.7em;
        line-height: 0.9;
        color: var(--c1d1);
        font-weight: 300;
        text-transform: uppercase;
        @media (max-width: $xxl) {
            font-size: 3em;
        }
        @media (max-width: $xl) {
            font-size: 3.2em;
            grid-column: span 4;
        }
    }
    strong {
        font-weight: 700;
        display: block;
        font-size: 0.745em;
        color: var(--c1);
    }
    p {
        grid-column: span 7;
        line-height: 1.4;
        margin: 0;
        font-size: 1.06em;
        @media (max-width: $xxl) {
            grid-column: span 8;
        }
        @media (max-width: $xl) {
            grid-column: span 7;
            margin: 0;
        }
    }
}
// priority areas grid
.priority-grid {
    --gap: 24px;
    display: grid;
    grid-column: content;
    grid-template-columns: subgrid;
    margin: var(--sp-11) 0;
    gap: var(--gap);
    .filters {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }
}
.priority-card {
    position: relative;
    padding: var(--sp-2);
    border: 3px solid var(--c1l3);
    overflow: hidden;
    border-radius: 0 var(--sp-15) 0 var(--sp-15);
    display: flex;
    flex-direction: column;
    --img-height: 240px;
    @include t(background-color, border-radius);
    @include hoverOnly {
        &:hover {
            background-color: var(--c1d1);
            border-radius: 0 var(--sp-15) 0 0;
            .arrow-box span {
                transform: translate3d(0, 0, 0);
            }
            .arrow {
                color: var(--c1);
            }
            h3 {
                color: white;
            }
            :is(h4, h3 em) {
                color: var(--c1l2);
            }
            .details {
                // margin-top: 0;
                // padding-top: var(--sp-7);
                background-color: var(--c1d1);
                transform: translate3d(0, calc(-1 * var(--img-height)), 0);
            }
            img {
                transform: translate3d(0, calc(-0.5 * var(--img-height)), 0);
            }
            .collapsed-inner {
                background-color: var(--c1d1);
                --clip-top: 100%;
            }
        }
    }
    img {
        display: block;
        width: 100%;
        max-width: calc(100% - var(--sp-4));
        z-index: -1;
        height: var(--img-height);
        border-radius: 0 var(--sp-14) 0 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: var(--sp-2);
        left: var(--sp-2);
        right: var(--sp-2);
        @include t(transform);
        filter: url("#spotlight");
    }
    h3 {
        color: var(--c1d1);
        font-size: var(--h4);
        font-weight: 600;
        padding: var(--sp-8) var(--sp-9) 0;
        @media (max-width: $xxl) and (min-width: $xlp) {
            padding: var(--sp-8) var(--sp-5) var(--sp-7);
        }
        @include t(color);
        em {
            font-style: normal;
            letter-spacing: 0.11em;
            font-size: 0.5em;
            display: block;
            text-transform: uppercase;
            color: var(--c1);
            line-height: 1.4;
            @include t(color);
            margin-bottom: var(--sp-1);
        }
    }
    h4 {
        color: var(--c1l1);
        font-size: 0.75em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.15px;
    }
    .metrics {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: var(--fs-lg);
        list-style: none;
        margin-bottom: var(--sp-1);
        color: var(--c3l2);
        @media (max-width: $xxl) and (min-width: $xlp) {
            font-size: 1em;
        }
        &::before {
            display: inline-block;
            width: 28px;
            padding-right: 5px;
        }
        span {
            padding-left: 5px;
            font-weight: 700;
        }
    }
    .arrow-box {
        text-decoration: none;
        overflow: hidden;
        display: flex;
        // width: 100%;
        isolation: isolate;
        position: absolute;
        inset: var(--sp-2);
        display: flex;
        align-items: flex-end;

        span {
            height: var(--sp-10);
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1.125em;
            background-color: var(--c4d1);
            text-align: center;
            color: white;
            transform: translate3d(100%, 0, 0);
            z-index: -1;
            @include t(transform);
            position: relative;
            line-height: 1;
        }
    }
    .arrow {
        width: var(--sp-10);
        height: var(--sp-10);
        display: flex;
        align-items: center;
        justify-content: center;
        @include icon-reg(solid, arrow-right);
        background-color: var(--c4);
        color: white;
        @include t(color);
        &::after {
            font-size: var(--h3);
        }
    }
    .collapsed {
        position: relative;
    }
    .collapsed-inner {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        --clip-top: 0;
        padding: 0 var(--sp-8) 0 var(--sp-9);
        @media (max-width: $xxl) and (min-width: $xlp) {
            padding: 0 var(--sp-3) 0 var(--sp-4);
        }
        clip-path: polygon(0 0, 100% 0, 100% var(--clip-top), 0 var(--clip-top));
        @include t(clip-path, background-color);
        &::before {
            content: "";
            display: block;
            width: var(--sp-11);
            height: var(--sp-1);
            border-radius: var(--sp-1);
            background-color: var(--c4);
            margin-bottom: var(--sp-6);
            margin-left: calc(-1 * var(--sp-7));
            margin-top: var(--sp-2);
            @media (max-width: $xxl) and (min-width: $xlp) {
                margin-left: calc(-1 * var(--sp-2));
            }
        }
    }
    .details {
        width: 100%;
        flex: 1 0 auto;
        display: block;
        margin-top: var(--img-height);
        margin-bottom: var(--sp-6);
        background-color: white;
        @include t(transform, background-color);
        min-height: var(--ch);
    }
    .coin {
        @include icon-reg(solid, circle-dollar, before);
    }
    .grad {
        @include icon-reg(solid, graduation-cap, before);
    }
}
// partners bar
.partners {
    margin-top: var(--sp-10);
    margin-bottom: var(--sp-18);
    text-align: center;
    padding: var(--sp-10) 0;
    background-color: var(--c5l2);
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    h2 {
        grid-column: content;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.105em;
    }
    p {
        grid-column-start: 4;
        font-size: 1.0575em;
        margin: 0 -14px;
        line-height: 1.45;
        margin-bottom: var(--sp-6);
        @media (max-width: $xl) {
            grid-column-start: 3;
        }
    }
    > a {
        grid-column: content;
        width: 100%;
        max-width: 370px;
        justify-self: center;
        font-size: 1.1em;
        &::after {
            @include fa-content(people-group);
        }
    }
}
#partnerCarousel {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
    margin-top: var(--sp-2);
    margin-bottom: var(--sp-7);
    .frame {
        --offset: calc(-1 * var(--gap));
        grid-column: 2/-2;
        margin: 0 var(--offset);
    }
    .slide {
        background-color: var(--c5l2);
        opacity: 0.4;

        img {
            height: 50px;
            width: 100%;
            object-fit: contain;
            object-position: center;
            display: block;
            mix-blend-mode: difference;
            padding: 0 var(--sp-4);
        }
    }
    .prev {
        justify-self: start;
    }
    .next {
        justify-self: end;
    }
}
// strategic plan bar
.strategic-plan {
    margin-top: var(--sp-8);
    margin-bottom: var(--sp-20);
    display: grid;
    grid-column: -1/1;
    grid-template-columns: subgrid;
    grid-template-rows: [content-start] 1fr [content-end];
    position: relative;
    > * {
        grid-row: content;
    }
    .copy-box {
        grid-column: 1 / span 9;
        background-color: var(--c1d1);
        position: relative;
        display: grid;
        grid-template-columns: subgrid;
        justify-items: end;
        z-index: 1;
        padding: var(--sp-8) var(--sp-6) 0;
        border-right: 16px solid var(--c2l1t1);
        grid-template-rows: 1fr auto auto 1fr;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            opacity: 0.67;
            mix-blend-mode: overlay;
        }
        :is(a, h2) {
            grid-column: 2 / -2;
            margin-right: var(--gap);
        }
        h2 {
            padding-top: var(--sp-1);
            font-size: 3.65em;
            text-align: right;
            color: white;
            grid-row: 2;
            line-height: 1.05;
            margin-bottom: var(--sp-6);
            @media (max-width: $xxl) {
                font-size: 3em;
            }
            @media (max-width: $xl) {
                font-size: 2.77em;
            }
        }
        strong {
            white-space: nowrap;
        }
        .strat-cta {
            grid-row: 3;
            border-color: white;
            color: white;
            max-width: 330px;
            width: 100%;
            --mx: 3px;
            font-size: 1.1em;
            letter-spacing: 0.01em;
            &::after {
                flex: 0 0 auto;
                @include fa-content(arrow-down-to-line);
                border-left-color: white;
            }
        }
    }
    .preview-box {
        background-color: var(--c2l2);
        grid-column: span 4 / content;
        padding: calc(var(--sp-7) + 4px);
        margin-left: calc(-1 * var(--gap));
        text-align: center;
        a {
            display: inline-block;
            box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.5);
            @include t(transform, box-shadow);
            &:hover {
                transform: scale3d(1.05, 1.05, 1);
                box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.75);
            }
        }
        img {
            // display: none;s
            width: auto;
            max-height: 350px;
            height: 100%;
            max-width: 100%;
        }
    }
    .strat-path {
        pointer-events: none;
        position: absolute;
        grid-column: content;
        overflow: visible;
        // place-self: end;
        bottom: calc(-1 * var(--sp-7));
        right: calc(-1 * var(--sp-7) + 4px);
        height: calc(100% + var(--sp-11));
        width: calc(100% + var(--sp-4));
        z-index: -1;
        --l1l: 1720px;
        --l2l: 72px;
        @media (max-width: $xxl) {
            --l1l: 1500px;
            --l2l: 52px;
        }
        @media (max-width: $xxl) {
            --l1l: 1220px;
            --l2l: 45px;
        }
        :is(polyline, line) {
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 10px;
            @include t;
        }
        polyline {
            stroke-dasharray: var(--l1l), var(--l1l);
            stroke-dashoffset: var(--l1l);
            stroke: var(--c2l1);
        }
        line {
            stroke-dasharray: var(--l2l), var(--l2l);
            stroke-dashoffset: var(--l2l);
            stroke: var(--c3l1);
        }
        &[data-in="true"] {
            polyline {
                transition-timing-function: ease-in;
                transition-duration: 1s;
                stroke-dashoffset: 0;
            }
            line {
                transition-delay: 1s;
                transition-duration: 0.5s;
                stroke-dashoffset: 0;
            }
        }
    }
}

// news and events
.news-and-events {
    margin-top: var(--sp-6);
    text-align: center;
    display: grid;
    grid-template-columns: subgrid;
    h2 {
        grid-column: content;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1.5em;
        font-weight: 400;
        color: var(--c1);
        margin-bottom: var(--sp-10);
    }
    .news {
        grid-column: 3 / span 3;
        margin-right: calc(-1 * var(--gap));
        margin-left: calc(-2 * var(--gap));
        text-align: left;
        align-self: start;
        @media (max-width: $xxl) {
            grid-column: 2 / span 4;
        }
        @media (max-width: $xxl) {
            margin-left: 0;
            grid-column: 1 / span 6;
        }
        time {
            display: block;
            text-transform: uppercase;
            font-size: 0.8em;
            color: var(--c1);
            font-weight: 600;
            letter-spacing: 0.06em;
        }
        h3 {
            font-size: 1.25em;
            // font-weight: 600;
            color: var(--c1d1);
        }
        :is(time, h3) {
            padding: 0 var(--gap);
            @include t(transform);
        }
        article {
            margin-bottom: var(--sp-4);
            position: relative;
            &::after {
                content: "";
                display: block;
                height: 3px;
                background-color: var(--c5l2);
            }
            &:last-of-type::after {
                display: none;
            }
            a {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-decoration: none;

                .arrow {
                    opacity: 0;
                    @include t(opacity);
                    @include icon-reg(solid, arrow-right);
                    &::after {
                        display: block;
                        width: var(--gap);
                    }
                }
            }
            &:hover {
                .arrow {
                    opacity: 1;
                }
                :is(time, h3) {
                    transform: translate3d(-16px, 0, 0);
                }
                time {
                    color: var(--c1d1);
                }
                h3 {
                    color: var(--c1);
                }
            }
        }
        .all {
            display: inline-block;
            font-weight: 700;
            color: var(--c1);
            text-decoration: none;
            letter-spacing: 0.01em;
            line-height: 1;
            margin-top: var(--sp-2);
            @include icon-reg(solid, arrow-right);
            @media (max-width: $xl) {
                margin-left: calc(0.5 * var(--gap));
            }
            &::after {
                position: relative;
                top: 2px;
                padding-left: 5px;
            }
        }
    }
    .event {
        align-self: start;
        margin-top: var(--sp-1);
        grid-column: span 4 / -3;
        text-align: left;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr auto;
        transform: translateX(var(--gap));
        border: 3px solid var(--c1l3);
        border-radius: var(--sp-17) 0 0 0;
        padding: var(--sp-7) var(--sp-2) var(--sp-2);
        column-gap: var(--sp-4);
        row-gap: var(--sp-7);
        @media (max-width: $xxl) {
            grid-column: span 5 / -2;
        }
        @media (max-width: $xl) {
            transform: none;
            grid-column: span 6 / -1;
        }
        time {
            display: block;
            align-self: center;
            text-align: center;
            line-height: 1;
            margin-top: var(--sp-4);
            padding-left: var(--sp-1);
            min-width: calc(var(--sp-15) - 4px);
            letter-spacing: 0.06em;
            color: var(--c1d1);
        }
        em {
            display: block;
            font-style: normal;
            text-transform: uppercase;
            font-size: 1.2em;
            line-height: 1;
        }
        strong {
            line-height: 0.9;
            display: block;
            font-size: 2.2em;
        }
        .details {
            align-self: start;
            position: relative;
            padding-left: calc(var(--sp-7) - 4px);

            &::before {
                content: "";
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background-color: var(--c3l1);
                border-radius: 3px;
                position: absolute;
            }
        }
        .time {
            font-weight: 700;
            font-size: 0.855em;
            color: var(--c1);
            line-height: 1;
            display: block;
            margin-bottom: var(--sp-6);
        }
        .summary {
            margin-bottom: var(--sp-6);
        }
        .location {
            padding-top: 4px;
            margin-bottom: 0;
            color: var(--c1);
            text-transform: uppercase;
            text-wrap: balance;
            display: flex;
            font-weight: 600;
            line-height: 1;
            font-size: 0.86em;
            @include icon-reg(regular, map-marker-alt, before);

            &::before {
                margin-top: -4px;
                padding-right: 10px;
                align-self: center;
                font-size: 2.15em;
                color: var(--c4);
            }
        }
        h3 {
            color: var(--c1d1);
            font-weight: 700;
            font-size: 1.38em;
            margin: 0;
            line-height: 1.2;
            margin-bottom: 0;
        }

        .event-cta {
            margin-top: 4px;
            display: flex;
            grid-column: span 2;
            font-size: 1.15em;
            border: 3px solid var(--c1l3);
            text-align: center;
            color: var(--c1);
            font-weight: 700;
            line-height: 1;
            text-decoration: none;
            padding: var(--sp-5) var(--sp-4) var(--sp-3);
            overflow: hidden;
            @include t(color, background-color);
            @include icon-reg(solid, arrow-right);
            span {
                flex: 1 1 auto;
                display: block;
                @include t(transform);
            }
            &::after {
                flex: 0 0 auto;
                align-self: center;
                text-align: center;
                width: 1.3em;
                margin-left: -1.3em;
                opacity: 0;
                @include t(opacity);
            }
            &:hover {
                background-color: var(--c1l3);
                color: var(--c1d1);
                span {
                    transform: translate3d(-1.3em, 0, 0);
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
.testimonials {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1/1;
    margin-top: var(--sp-16);
    background-color: var(--c5l2);
    padding: var(--sp-11) 0 var(--sp-6);
}
#videoSlider {
    display: grid;
    grid-column: content;
    margin: 0 calc(-0.5 * var(--gutter));
    grid-template-columns: calc(0.5 * var(--gutter)) 1fr calc(0.5 * var(--gutter));
    width: unset;
    .frame {
        margin: 0;
    }
    .slide {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--gap);
    }
    .prev {
        justify-self: start;
    }
    .next {
        justify-self: end;
    }
    :is(img, iframe) {
        grid-column: span 6;
        width: 100%;
        aspect-ratio: 16/9.725;
        @media (max-width: $xxl) {
            align-self: center;
        }
    }
    img {
        object-fit: cover;
        object-position: center;
    }
    .body-text {
        margin-top: var(--sp-5);
        line-height: 1.4;
    }
    blockquote {
        @include icon-reg(solid, message-quote, before);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        color: var(--c1);
        text-wrap: balance;
        &::before {
            color: var(--c1l1);
            position: relative;
            top: -4px;
            font-size: 5rem;
            margin-right: var(--sp-5);
        }
    }
    .text {
        grid-column: span 5 / -1;
        transform: translateX(calc(-1 * var(--gap)));
    }
    h4 {
        color: var(--c1d1);
        font-size: 1.7em;
        font-weight: 700;
        margin-bottom: var(--sp-4);
        margin-top: var(--sp-5);
        letter-spacing: -0.5px;
        line-height: 1.1;
    }
    .frame-inner {
        margin-bottom: var(--sp-7);
    }
    .markers {
        span {
            margin: 0 5px;
            background-color: var(--c1t1);
        }
        .active {
            background-color: var(--c1);
        }
    }
    .testimonial-path {
        display: block;
        width: 100%;
        height: 10px;
        overflow: visible;
        --l1l: 400px;
        --l2l: 70px;
        line {
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 10px;
            @include t;
            &:nth-child(1) {
                stroke: var(--c3l2);
                stroke-dasharray: var(--l1l), var(--l1l);
                stroke-dashoffset: var(--l1l);
            }
            &:nth-child(2) {
                stroke: var(--c1l1);
                stroke-dasharray: var(--l2l), var(--l2l);
                stroke-dashoffset: var(--l2l);
            }
        }
    }
    [data-in="true"] {
        line:nth-child(1) {
            transition-timing-function: ease-in;
            transition-duration: 0.5s;
            stroke-dashoffset: 0;
        }
        line:nth-child(2) {
            transition-delay: 0.5s;
            transition-duration: 1.25s;
            stroke-dashoffset: 0;
        }
    }
}
.contact {
    display: grid;
    grid-template-columns: subgrid;
    margin-top: var(--sp-15);
    --offset: calc(-1 * var(--gap));
    margin-bottom: var(--sp-11);
    isolation: isolate;
    @media (max-width: $xl) {
        --offset: 0;
    }
    .text-box {
        grid-column: 2 / span 4;
        margin-left: var(--offset);
        @media (max-width: $xl) {
            grid-column: 1 / span 6;
        }
        h2 {
            font-size: 2.25em;
            line-height: 1.1;
            text-wrap: balance;
            letter-spacing: 0.01em;
            margin-bottom: var(--sp-5);
            @media (max-width: $xl) {
                font-size: 1.8em;
            }
        }
        p {
            font-size: 1.065em;
            line-height: 1.4;
        }
        strong {
            letter-spacing: normal;
            display: block;
            font-size: 1.55em;
        }
    }
    .form-box {
        align-self: start;
        grid-column: span 4 / -2;
        margin-left: var(--offset);
        position: relative;
        @media (max-width: $xl) {
            grid-column: span 5 / -1;
            transform: translateX(calc(-1 * var(--gap)));
        }
        h3 {
            font-size: 1.25em;
            font-weight: 700;
            margin-bottom: var(--sp-4);
        }
    }
    .field {
        margin-bottom: var(--sp-5);
        &.select {
            width: 100%;
            border: 1px solid var(--c5l1);
            display: flex;
            @include icon-reg(solid, chevron-down);
            &::after {
                border: none;
                width: 3.25em;
                margin-left: -3.25em;
                font-size: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &.check {
            display: flex;
            align-items: center;
            margin-top: 4px;
            input {
                display: block;
                width: 1.5em;
                transform: scale(1.5);
                @media (max-width: $xl) {
                    margin-top: 2px;
                }
            }
            label {
                font-size: 0.9em;
                letter-spacing: 0.005em;
                flex: 1 1 auto;
                padding-left: var(--sp-2);
                margin: 6px 0 0;
                @media (max-width: $xl) {
                    font-size: 0.8em;
                    line-height: 1;
                }
            }
        }
    }
    select {
        width: 100%;
        line-height: 1.2;
        padding: var(--sp-3) var(--sp-4);
        font-size: 0.9em;
        appearance: none;
        border: none;
    }
    input {
        width: 100%;
        border: 1px solid var(--c5l1);
        line-height: 1.2;
        padding: var(--sp-1) var(--sp-3);
        font-size: 0.9em;
    }

    .flex-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .field {
            margin: 0;
        }
    }
    .btn {
        align-self: stretch;
        width: 125px;
        --my: var(--sp-3);
        --mx: var(--sp-1);
        font-size: 0.95em;
    }
    .form-path {
        position: absolute;
        top: var(--sp-1);
        left: calc(-1 * var(--sp-9));
        width: calc(100% + var(--sp-15) - 4px);
        height: calc(100% + var(--sp-7));
        overflow: visible;
        z-index: -1;
        --l1l: 60px;
        --l2l: 795px;
        @media (max-width: $xxl) {
            --l2l: 730px;
        }
        @media (max-width: $xl) {
            left: calc(-1 * var(--sp-6));
            width: calc(100% + var(--sp-10) - 4px);
            height: calc(100% + var(--sp-4));
        }

        :is(polyline, line) {
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 10px;
            @include t;
        }
        line {
            stroke: var(--c3l1);
            stroke-dasharray: var(--l1l), var(--l1l);
            stroke-dashoffset: var(--l1l);
        }
        polyline {
            fill: none;
            stroke: var(--c1l1);
            stroke-dasharray: var(--l2l), var(--l2l);
            stroke-dashoffset: var(--l2l);
        }
        &[data-in="true"] {
            polyline {
                transition-timing-function: ease-in;
                transition-duration: 0.75s;
                stroke-dashoffset: 0;
            }
            line {
                transition-duration: 0.5;
                transition-delay: 0.75s;
                stroke-dashoffset: 0;
            }
        }
    }
}
