<section class="feature-img">
    <img class="fp-{{focalPoint}}" src="{{src}}" alt="hero image" style="width:100%">
    {{#if title}}
        <div class="grid-no-bleed">
            <h1 class="page-title">{{title}}</h1>
        </div>
    {{/if}}
</section>