<footer id="site-footer" class="grid">
    <div class="flex-row">
        <a href="/" class="social fb"></a>
        <a href="/" class="social in"></a>
        <a href="/" class="social li"></a>
        <h4><strong>Healthy State:</strong> a Louisiana where everyone is healthier and happier.</h4>
    </div>
    {{!-- todo --}}
    {{> site-credit}}
</footer>