<div class="slider-wrap" id="partnerCarousel">
    <button class="prev" aria-label="move slider back"></button>
    <div class="frame">
        <div class="frame-inner">
            {{#each partnerLogos}}
            <div class="slide">
                <img src="/img/partners/{{this}}" alt="test-slide">
            </div>
            {{/each}}
        </div>
    </div>
    <button class="next" aria-label="move slider forward"></button>
</div>