
<div class="slider-wrap" id="videoSlider">
    <button class="prev" aria-label="move slider back"></button>
    <div class="frame">
        <div class="frame-inner">
            {{> hp-video-slide}}
            {{> hp-video-slide}}
            {{> hp-video-slide}}
        </div>
    </div>
    <button class="next" aria-label="move slider forward"></button>
</div>