<div class="slide">
    <img src="/img/video-overlay.jpg" alt="test-slide">
    <h4 class="text-el">She Smoked About Two Packs of Cigarettes a Day for 60 Years… And Quit</h4>
    <div class="testimonial-path-box text-el">
        <svg class="testimonial-path1" viewBox="0 0 100 10" preserveAspectRatio="none">
            <line vector-effect="non-scaling-stroke" x1="0" y1="0" x2="100" y2="0" />
        </svg>
        <svg class="testimonial-path2" viewBox="0 0 100 10" preserveAspectRatio="none">
            <line vector-effect="non-scaling-stroke" x1="0" y1="0" x2="100" y2="0" />
        </svg>
    </div>
    <p class="body-text text-el">Dianne McAnelly of Prairieville, Louisiana, started smoking in 1962 and didn&rsquo;t stop for 60 years. On average, she smoked about two packs of cigarettes a day and had no intentions of ever quitting. As her health started to deteriorate, what finally led her to quit? <a href="/">Ochsner Health&rsquo;s Smoking Cessation program.</a></p>
    <blockquote class="text-el">
        <p><q>It&rsquo;s been just a miraculous thing,</q> McAnelly said. <q>It&rsquo;s all thanks to Ochsner and this program.</q></p>
    </blockquote>
</div>