<section id="la-gov-bar">
    <p>An official website of the State of Louisiana. <button class="gov-trigger" aria-controls="gov-bar-expand">Here’s how you know</button></p>
    <nav class="options" aria-label="language and accessibility options">
        <button class="lang">Language</button>
        <button class="acsb" data-acsb-custom-trigger="true">Accessibility</button>
    </nav>
    <div class="expand" id="gov-bar-expand">
        <div class="group">
            <img src="/img/state-seal-grey.svg" height="90" width="90" alt="State of Louisiana Seal">
            <em>Official Louisiana State Websites use .la.gov</em>
            <span>A .la.gov website belongs to an official<br> government organization in Louisiana.</span>
        </div>
        <div class="group">
            <img src="/img/lock.svg" height="90" width="63" alt="Lock icon image">
            <em>Secure .gov websites use HTTPS</em>
            <span>A lock (<span class="lock"></span>) or https:// means you've safely<br> connected to the official .gov website.</span>
        </div>
    </div>
    <nav id="gt-container" data-open="false">
        <div id="gt-element"></div>
    </nav>

</section>