<nav id="main-nav">
    <ul class="top-list">
        {{#each navItems}}
        <li class="top-item">
            {{> nav-item item=this originItem=@key}}
        </li>
        {{/each}}
    </ul>
</nav>