<section id="search-overlay" aria-label="Site-wide search form">
    <button id="site-search-close" class="close" aria-label="close overlay" aria-controls="search-overlay"></button>
    <form aria-label="search form element" action="/">
        <input type="search" id="search-keyword" placeholder="Search" aria-label="sitewide search term" />
        <button type="submit" id="search-submit" aria-label="get results"></button>
    </form>
</section>