<section id="secretary-bar" class="grid">
    <div class="img-cont c2">
        <img src="/img/secretary-headshot.webp" alt="LDH Secretary Ralph L. Abraham, M.D.">
    </div>
    <div class="c6 details">
        <h2>
            <span>Meet the secretary</span>
            <em>Ralph L. Abraham, M.D.</em>
        </h2>
        <p>As secretary of the Louisiana Department of Health, Ralph L. Abraham, M.D. leads the state’s largest agency with a budget of $19.1 billion and a team responsible for delivering services to millions of Louisianans.</p>
    </div>
    <hr class="c1 vert">
    <nav class="c3" aria-label="secretary nav links">
        <a href="/">Request Attendance</a>
        <a href="/">Request Speaking Engagement</a>
        <a href="/">Schedule a Meeting</a>
        <a href="/">Request Information</a>
    </nav>
</section>