<article class="site-alert notice" id="site-alert" data-open="false">
    <div class="alert-cont">
        <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation <a href="/">ullamco laboris nisi ut aliquip ex ea commodo consequat</a>.</p>
        <button class="close" aria-controls="site-alert"></button>
    </div>
</article>