<div class="site-credit-wrap">
    <svg class="site-credit-animated" viewBox="0 0 300 105" role="presentation">
        <defs>
            <g class="logo" id="credit-logo">
                <path class="green" d="M250.6,16.5c2.4,0.8,4.7,1.9,7,3.4c0.1-2.8,0.7-5.5,1.8-8.1c-2.1-1.1-4.3-2-6.5-2.7C251.8,11.5,251.1,13.9,250.6,16.5z" />
                <path class="green" d="M270.6,44.5c-0.2,2.8-0.8,5.6-1.8,8.2c2.1,1.1,4.3,2,6.5,2.7c1.1-2.4,1.9-4.9,2.3-7.4C275.2,47.1,272.8,46,270.6,44.5z" />
                <path d="M252.9,9.1c1.3-2.9,3-5.8,5.2-8.4h-18.6V8C244,7.4,248.5,7.8,252.9,9.1z" />
                <path d="M250.6,16.5c-3.7-1.2-7.5-1.5-11.1-1.1v44.8H264c2-2.3,3.6-4.8,4.7-7.5c-3-1.6-5.8-3.7-8.4-6.3C251.8,37.8,248.7,26.9,250.6,16.5z" />
                <path d="M257.6,19.9c-0.4,7.3,2.4,14.8,8.4,20.8c1.4,1.4,3,2.7,4.5,3.8c0.4-7.2-2.3-14.7-8.4-20.8C260.7,22.2,259.2,20.9,257.6,19.9z" />
                <path d="M267.7,0.7c-0.8,0.6-1.6,1.3-2.3,2c-2.7,2.7-4.7,5.8-6,9c3,1.6,5.8,3.7,8.4,6.3c8.5,8.5,11.7,19.5,9.8,29.8c7.2,2.3,15,1.4,21.5-2.7V0.7H267.7z" />
                <path d="M275.2,55.3c-0.7,1.7-1.6,3.3-2.7,4.9H299v-7.1C291.5,56.8,283.1,57.6,275.2,55.3z" />
            </g>
            <mask id="mask1v2">
                <rect x="0" y="0" width="300" height="105">
            </mask>
            <mask id="mask2v2">
                <rect x="0" y="26" width="0" height="36">
            </mask>
        </defs>
        <g class="created" mask="url(#mask1v2)">
            <g class="words">
                <g transform="scale(.75)" transform-origin="170 80">
                    <path d="M72.4,34.6a5.8,5.8,0,0,0-2.5-1.8,11.7,11.7,0,0,0-3-.5,5.5,5.5,0,0,0-1.8.2,5.2,5.2,0,0,0-1.6.6,3.5,3.5,0,0,0-1.3,1.1,3.1,3.1,0,0,0-.5,1.7,2.9,2.9,0,0,0,1.2,2.4,14,14,0,0,0,3,1.4l3.8,1.2a16.8,16.8,0,0,1,3.9,1.6,10,10,0,0,1,2.9,2.9,8.9,8.9,0,0,1,1.2,4.9,10,10,0,0,1-1.1,5,9.4,9.4,0,0,1-2.9,3.6A10.2,10.2,0,0,1,69.4,61a17,17,0,0,1-5.1.7,18.9,18.9,0,0,1-6.3-1,17.1,17.1,0,0,1-5.4-3.3l5.5-6A9.6,9.6,0,0,0,61,53.8a8.5,8.5,0,0,0,3.8.9,5.7,5.7,0,0,0,1.8-.3,4.8,4.8,0,0,0,1.8-.6,3.4,3.4,0,0,0,1.2-1.2,2.5,2.5,0,0,0,.5-1.6,2.9,2.9,0,0,0-1.2-2.4A9.1,9.1,0,0,0,65.8,47l-3.9-1.3A17.1,17.1,0,0,1,58,44a10,10,0,0,1-3-2.8,8.4,8.4,0,0,1-1.2-4.7,9.6,9.6,0,0,1,1.1-4.9,9.9,9.9,0,0,1,2.9-3.5,12.5,12.5,0,0,1,4.3-2.2,20,20,0,0,1,4.9-.7,21.2,21.2,0,0,1,5.7.8,14.6,14.6,0,0,1,5,2.8Z" />
                    <path d="M83.3,26.1H91V60.8H83.3Z" />
                    <path d="M104.7,32.9h-10V26.1h27.5v6.8h-9.9V60.8h-7.6Z" />
                    <path d="M126.4,26.1H150v7.1H134.1v6.4h15v7.1h-15v7.1h16.8v7H126.4Z" />
                    <path d="M171.5,26.1h13a34,34,0,0,1,4.5.3,12.3,12.3,0,0,1,4.1,1.3,7.1,7.1,0,0,1,3,2.7,8.3,8.3,0,0,1,1.1,4.5,7.2,7.2,0,0,1-1.6,4.9,9.6,9.6,0,0,1-4.4,2.8h0a12.6,12.6,0,0,1,3.1.9,6.5,6.5,0,0,1,2.4,1.9,8.2,8.2,0,0,1,1.6,2.5,8.6,8.6,0,0,1,.5,3.2,9.5,9.5,0,0,1-1.1,4.6,8.6,8.6,0,0,1-3.1,2.9,13.2,13.2,0,0,1-4.2,1.7,23.8,23.8,0,0,1-4.6.4H171.5ZM179.2,40h5.5l1.8-.2a5.2,5.2,0,0,0,1.5-.6,2.5,2.5,0,0,0,1.1-1.2,3.5,3.5,0,0,0,0-3.6,3.2,3.2,0,0,0-1.2-1.1l-1.7-.6h-7Zm0,14.4h6.9l1.8-.2,1.6-.7a3.7,3.7,0,0,0,1.2-1.3,3.8,3.8,0,0,0,.5-1.9,3.2,3.2,0,0,0-.6-2,3.6,3.6,0,0,0-1.6-1.1,6.6,6.6,0,0,0-2-.6h-7.8Z" />
                    <path d="M211.9,46,198.8,26.1h9.6l7.3,13,7.8-13h9.1L219.5,46V60.8h-7.6Z" />
                </g>
                <use href="#credit-logo" transform="scale(.7)" transform-origin="230 70" />
            </g>
        </g>
        <g class="covalent" mask="url(#mask2v2)">
            <path class="green" d="M103.1,26.9L89.3,60.4h7.9l8.4-22h0.1l8.3,22h8.4L109,26.9H103.1z M89.3,26.9l-8.4,22h-0.1l-8.3-22 H64l13.4,33.5h5.9l13.8-33.5H89.3z" />
            <path d="M48.1,26C37.7,26,30,32.9,30,43.7c0,10.8,7.6,17.6,18.1,17.6s18.1-6.9,18.1-17.6C66.2,32.9,58.6,26,48.1,26z M48.1,54.5c-6.3,0-10.4-4.5-10.4-10.8c0-6.3,4.1-10.8,10.4-10.8c6.3,0,10.4,4.5,10.4,10.8C58.6,49.9,54.4,54.5,48.1,54.5z" />
            <polygon points="131.2,26.9 123.8,26.9 123.8,60.4 144.9,60.4 144.9,53.6 131.2,53.6 	" />
            <polygon points="216,60.4 223.4,60.4 223.4,33.4 233,33.4 233,26.9 206.5,26.9 206.5,33.4 216,33.4 	" />
            <path d="M17.2,54.5c-5.4,0-9.5-4.5-9.5-10.8c0-6.3,4.1-10.8,9.7-10.8c2.7,0,4.9,1,6.3,2.7l5.7-4.6 c-2.8-3.6-7.6-4.9-11.3-4.9C7.7,26,0.1,32.9,0.1,43.7c0,10.8,7.6,17.6,18.1,17.6c4.6,0,9.3-1.8,12.1-5.8l-6.2-4.6 C22.6,53.1,20.2,54.5,17.2,54.5z" />
            <polygon points="154.5,46.7 169,46.7 169,39.9 154.5,39.9 154.5,33.7 169.9,33.7 169.9,26.9 147.1,26.9 147.1,60.4 170.7,60.4 170.7,53.6 154.5,53.6 	" />
            <polygon points="180.4,36.5 180.5,36.5 195.1,60.4 204.8,60.4 204.8,26.9 197.4,26.9 197.4,50.2 197.3,50.2 183,26.9 173,26.9 173,60.4 180.4,60.4 	" />
        </g>
        <g class="logic">
            <path d="M199.9,67.5c-5.6,0-9.8,7.9-9.8,14.4c0,2.7,1.3,7.2,5.4,7.2c6.1,0,10.1-8.1,10.1-14.4 C205.6,70.3,203.7,67.5,199.9,67.5z M195.7,87.9c-2.7,0-2.6-3.3-2.6-5c0-4.4,3.7-14.1,6.8-14.1c1.9,0,2.5,1.5,2.5,5 C202.5,78.6,198.2,87.9,195.7,87.9z" />
            <path d="M253,67.7c-7.2,0-11.7,11.7-11.7,16.4c0,1.2,0.2,5,4.6,5c3.8,0,6.8-5.3,6.8-5.5c0-0.2-0.2-0.5-0.4-0.5 c-0.8,0-2.4,3.5-4.8,3.5c-1.9,0-2.4-1.9-2.4-3.5c0-3.4,2.6-13.9,5.7-13.9c1.8,0,0.6,3,3.4,3c1.3,0,2.2-0.8,2.2-2.1 C256.4,68.4,254.4,67.7,253,67.7z" />
            <path d="M226.5,67.7c-2.2,0-4.5,2.1-4.8,2.1c-0.6,0-1.5-2.1-5.2-2.1c-5.2,0-8.1,7-8.1,11.4c0,3.7,2.8,4.7,2.8,5.2 c0,0.5-2.3,1.7-2.3,3.7c0,1.8,1.9,2.5,2.1,2.7c-6.1,2.7-7.2,4.6-7.3,6.4c0,0.9,0,5.2,9.8,5.2c8.2,0,11.2-4.2,11.2-7.6 c0-3.5-3.2-4.5-4.7-4.9c-6.5-2.1-8.3-1.9-8.3-3.6c0-0.7,0.5-1.3,0.9-1.6c0.3,0.1,1,0.1,1.9,0.1c7.6,0,9-6.9,9-9.9 c0-2.4-0.7-3.8-0.7-3.9c0-0.1,0.9-1,1.8-1c1.5,0,1.1,1.8,2.7,1.8c0.9,0,1.6-0.8,1.6-1.7C228.6,68.5,227.7,67.7,226.5,67.7z M212.4,91.1c0.5,0,3,0.8,3.9,1c2,0.7,4.9,1.4,4.9,4c0,1.7-1,4.8-7.7,4.8c-2.7,0-7.1-1.3-7.1-4.6C206.4,93.1,211.9,91.1,212.4,91.1 z M214.2,83.4c-1,0-2.6-0.3-2.6-3.6c0-3.1,1.9-10.9,5.9-10.9c2.5,0,2.6,3.1,2.6,4.1C220.1,77.2,217.7,83.4,214.2,83.4z" />
            <path d="M237,67.3c-3.6,0-7.7,5.2-7.7,5.6c0,0.2,0.2,0.5,0.3,0.5c0.1,0,0.2-0.1,0.4-0.2c1.1-1,2.9-3.1,4.1-3.1 c0.4,0,0.4,0.6,0.4,0.7c0,0.2-6.3,15.1-6.3,16.4c0,0.7,0,1.9,1.4,1.9c3.3,0.2,8.3-5.8,8.3-6c0-0.5-0.3-0.5-0.5-0.5 c-0.2,0-3.5,3.4-4.6,3.4c-0.2,0-0.3-0.2-0.3-0.6c0-0.8,6-14.8,6-16.8C238.4,67.4,237.3,67.3,237,67.3z" />
            <path d="M188.9,55.5c-0.3,0-2.4,0.4-5.3,0.7c-0.9,0.1-1.5,0.2-1.5,0.8c0,0.7,0.7,0.7,1.5,0.7c0.9,0,1.6,0,1.6,1.3 c0,0.5-9.2,27.2-9.2,28.6c0,0.9,0.6,1.6,1.6,1.6c3.1,0,9.4-7.8,9.4-8.2c0-0.4-0.2-0.6-0.4-0.6c-0.6,0-4,4.5-5.1,4.5 c-0.5,0-0.8-0.2-0.8-0.8c0-1,8.9-26.1,8.9-28C189.6,55.5,189.2,55.5,188.9,55.5z" />
        </g>
        <g class="logo-shapes">
            <rect x="239.6" y="1" class="st3" width="59.4" height="59.4" />
            <circle class="st3" cx="269.2" cy="30.7" r="29.7" />
            <circle class="st3" cx="269.2" cy="30.7" r="29.7" />
        </g>
        <use href="#credit-logo" class="reveal" />
        <a href="http://covalentlogic.com/" target="_blank">
            <rect class="link" x="0" y="0" width="300" height="105" />
        </a>
    </svg>
</div>