<header id="site-header" class="uber-grid">
    {{> site-alert }}
    <div class="nav-bknd" role="presentation"></div>
    <a href="/" class="brand" aria-label="link to homepage"><img src="/img/hs-logo-color.svg" width="250" alt="healthy state logo"></a>
    <button id="mobile-open-trigger" aria-label="open mobile menu" aria-controls="header-nav-group">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <div class="nav-group" id="header-nav-group">
        <button id="mobile-close-trigger" aria-label="close mobile menu" aria-controls="header-nav-group">
            <div></div>
            <div></div>
        </button>
        {{> main-nav }}
    </div>
    <button id="site-search-open" aria-controls="search-overlay" aria-label="open site search"></button>
</header>