<article class="site-alert notice" id="site-alert" data-open="false">
    <div class="alert-cont">
        <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <a href="/">ullamco laboris nisi ut aliquip ex ea commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <button class="close" aria-controls="site-alert"></button>
    </div>
</article>