<section class="slider">
    <div class="slider-wrap" id="exampleSlider">
        {{!-- <button class="prev" aria-label="move slider back"> &lt; </button> --}}
        <div class="frame">
            <div class="frame-inner">
                <a class="slide" href="/">
                    <img src="/img/placeholder.svg" alt="test-slide">
                    <div class="text">
                        <strong>Some heading</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore excepturi magnam asperiores eligendi porro facere rem quas! Inventore dolores reiciendis facere quidem accusamus adipisci ipsum dicta dignissimos dolorem voluptates!</p>
                    </div>
                </a>
                <a class="slide" href="/">
                    <img src="/img/placeholder.svg" alt="test-slide">
                    <div class="text">
                        <strong>Some heading</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore excepturi magnam asperiores eligendi porro facere rem quas! Inventore dolores reiciendis facere quidem accusamus adipisci ipsum dicta dignissimos dolorem voluptates!</p>
                    </div>
                </a>
                <a class="slide" href="/">
                    <img src="/img/placeholder.svg" alt="test-slide">
                    <div class="text">
                        <strong>Some heading</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore excepturi magnam asperiores eligendi porro facere rem quas! Inventore dolores reiciendis facere quidem accusamus adipisci ipsum dicta dignissimos dolorem voluptates!</p>
                    </div>
                </a>
                <a class="slide" href="/">
                    <img src="/img/placeholder.svg" alt="test-slide">
                    <div class="text">
                        <strong>Some heading</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore excepturi magnam asperiores eligendi porro facere rem quas! Inventore dolores reiciendis facere quidem accusamus adipisci ipsum dicta dignissimos dolorem voluptates!</p>
                    </div>
                </a>
                <a class="slide" href="/">
                    <img src="/img/placeholder.svg" alt="test-slide">
                    <div class="text">
                        <strong>Some heading</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolore excepturi magnam asperiores eligendi porro facere rem quas! Inventore dolores reiciendis facere quidem accusamus adipisci ipsum dicta dignissimos dolorem voluptates!</p>
                    </div>
                </a>
            </div>
        </div>
        {{!-- <button class="next" aria-label="move slider forward"> &gt; </button> --}}
    </div>
</section>