:root {
    // fonts
    --f1: "Hind", sans-serif; // 300 400 600 700

    // colors ---
    // (blue)
    --c1d1t1: hsl(216, 39%, 27%, 0.94);
    --c1d1: hsl(216, 39%, 27%); //      #2A4060;
    --c1: hsl(215, 50%, 46%); //        #3B6DB1;
    --c1t1: hsl(215, 50%, 46%, 0.31);
    --c1l1: hsl(209, 57%, 58%); //      #5896D1;
    --c1l2: hsl(209, 56%, 69%); //      #82b0dc;
    --c1l3: hsl(215, 43%, 95%); //      #ebf0f7;
    // (yellow)
    --c2d2: hsl(46, 65%, 34%); //       #8e741e;
    --c2d1: hsl(47, 66%, 39%); //       #a58922;
    --c2: hsl(46, 65%, 42%); //         #b19125;
    --c2l1: hsl(47, 71%, 49%); //       #d6b125;
    --c2l1t1: hsl(47, 71%, 49%, 0.67);
    --c2l2: hsl(48, 68%, 82%); //       #f0e3b1;
    // (salmon)
    --c3d1: hsl(11, 61%, 50%); //       #cc4d31;
    --c3: hsl(11, 62%, 62%); //         #da7963;
    --c3l1: hsl(11, 61%, 67%); //       #df8c79;
    --c3l2: hsl(11, 62%, 71%); //       #e39887;
    // (green)
    --c4d2: hsl(135, 44%, 37%); //      #348749;
    --c4d1: hsl(135, 44%, 46%); //      #41a85a;
    --c4: hsl(136, 44%, 55%); //        #5cbf76;
    --c4l1: hsl(136, 43%, 70%); //      #90d3a2;
    // (gray)
    --c5: hsl(0, 0%, 36%); //           #5b5b5b;
    --c5l1: hsl(0, 0%, 86%); //         #dbdbdb;
    --c5l2: hsl(0, 0%, 94%); //         #efefef;

    // animations & transitions
    --t-time: 0.4s;
    --easing: cubic-bezier(0.24, 0.96, 0.46, 1);

    --brand-height: 110px;

    // content spacing
    --sp-1: 4px;
    --sp-2: 8px;
    --sp-3: 12px;
    --sp-4: 16px;
    --sp-5: 20px;
    --sp-6: 24px;
    --sp-7: 32px;
    --sp-8: 40px;
    --sp-9: 48px;
    --sp-10: 56px;
    --sp-11: 64px;
    --sp-12: 72px;
    --sp-13: 80px;
    --sp-14: 88px;
    --sp-15: 96px;
    --sp-16: 102px;
    --sp-17: 110px;
    --sp-18: 118px;
    --sp-19: 126px;
    --sp-20: 134px;
    --sp-21: 142px;
    --sp-22: 150px;

    // Typography
    --h1: 3.12rem;
    --h2: 2.075rem;
    --h3: 1.725rem;
    --h4: 1.45rem;
    --h5: 1.25rem;
    --h6: 1.12rem;
    --fs-xl: 1.195rem;
    --fs-lg: 1.125rem;
    --fs-md: 1rem;
    --fs-sm: 0.9rem;
    --fs-xs: 0.875rem;
    --fs-2xs: 0.85rem;
    --fs-3xs: 0.8rem;
    @media (max-width: $md) {
        // content spacing
        --sp-7: 28px;
        --sp-8: 32px;
        --sp-9: 36px;
        --sp-10: 40px;
        --sp-11: 44px;
        --sp-12: 48px;
        --sp-13: 52px;
        --sp-14: 56px;
        --sp-15: 60px;
        --sp-16: 64px;
        --sp-17: 68px;
        --sp-18: 72px;
        --sp-19: 76px;
        --sp-20: 80px;
        --sp-21: 84px;
        --sp-22: 88px;

        // Typography
        --h1: 2.25rem;
        --h2: 1.9rem;
        --h3: 1.6rem;
        --h4: 1.375rem;
        --h5: 1.2rem;
        --h6: 1.1rem;
        --fs-xl: 1.09rem;
        --fs-lg: 1.075rem;
    }
}
