.btn {
    text-decoration: none;
    border: 1px solid var(--c1);
    color: var(--c1);
    display: inline-flex;
    text-align: center;
    @include icon-reg(solid, arrow-right);
    --mx: var(--sp-6);
    --my: var(--sp-4);
    padding: calc(1.1 * var(--my)) var(--mx) calc(0.9 * var(--my));
    font-size: var(--fs-xl);
    font-weight: 700;
    line-height: 1;
    justify-content: space-between;
    align-items: center;
    @include t(background-color, color);
    &::before {
        content: "";
        flex: 0 0 auto;
        width: 0;
    }
    &::after {
        @include t(background-color, color, border-color);
        align-self: stretch;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 0.9;
        height: calc(100% + 2 * var(--my));
        font-size: 1.5rem;
        border-left: 1px solid var(--c1);
        --myn: calc(-1 * var(--my));
        --yoff: calc(var(--myn) * 0.1);
        margin: var(--myn) 0;
        transform: translate(var(--mx), var(--yoff));
    }
    &:hover {
        background-color: var(--c1);
        color: white;
        &::after {
            border-left-color: white;
        }
    }
    &[type="submit"] {
        background-color: var(--c1);
        color: white;
        &::after {
            font-size: 1.3em;
            background-color: var(--c1l1);
        }
        &:hover {
            background-color: var(--c1d1);
            &::after {
                background-color: var(--c1d1);
            }
        }
    }
}

// button snippets
// nav[class*="button-"] {
//     display: flex;
//     margin: 0 -3px var(--sp-4);
//     > a {
//         flex: 0 1 auto;
//         @extend .btn;
//     }
// }
// nav.button-between {
//     justify-content: space-between;
// }
// nav.button-right {
//     justify-content: flex-end;
// }
// nav.button-center {
//     justify-content: center;
// }
// nav.button-fill a {
//     flex: 1 1 auto;
// }
