.btn {
    text-align: center;
    color: var(--c1);
    display: inline-block;
    border: 1px solid var(--c1);
    font-size: var(--fs-sm);
    text-decoration: none;
    font-weight: 700;
    border-radius: 2em;
    padding: 0.75em 1.25em;
    line-height: 1;
    position: relative;
    overflow: hidden;
    @include t(color);
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        inset: -1px;
        background-color: var(--c1);
        transform: scale3d(0, 1, 1);
        transform-origin: left;
        @include t(transform);
        z-index: -1;
    }
    &:hover {
        color: white;
        &::before {
            transform: scale3d(1, 1, 1);
        }
    }
}
// button snippets
nav[class*="button-"] {
    display: flex;
    margin: 0 -3px var(--sp-4);
    > a {
        flex: 0 1 auto;
        @extend .btn;
    }
}
nav.button-between {
    justify-content: space-between;
}
nav.button-right {
    justify-content: flex-end;
}
nav.button-center {
    justify-content: center;
}
nav.button-fill a {
    flex: 1 1 auto;
}
