.text-style-block {
    border-bottom: var(--c1d1) 1px solid;
    display: flex;
    padding: 4px 0;
    align-items: center;
    .title {
        display: block;
        width: 162px;
        flex: 0 0 auto;
        text-align: right;
        font-size: 0.9em;
        color: black;
        padding-right: 45px;
        margin-bottom: 15px;
    }
    .content {
        flex: 1 1 auto;
        margin: 0;
    }
}
.spacer-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: var(--sp-19);
    padding-bottom: 40px;
}
.spacer-block {
    display: block;
    width: 30px;
    background-color: var(--c1d1);
    position: relative;
    border: 1px solid white;
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            height: var(--sp-#{$i});
        }
    }
    span {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 0.7em;
        letter-spacing: -0.5px;
    }
}
.col-label {
    font-size: 0.8em;
    color: var(--c1d1);
    background-color: var(--c2l2);
    border: 1px solid var(--c2d1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    overflow: hidden;
    width: 100%;
    @media (max-width: 1200px) {
        flex-direction: column;
    }
    &::before {
        @media (min-width: 992px) {
            content: "sp:";
        }
        @media (min-width: 1200px) {
            content: "span:";
        }
    }
    &.v-span {
        flex-direction: column;
        text-align: center;
    }
}
