#site-footer {
    padding: var(--sp-5) 0;
    background-color: var(--c1d1);
    @media (max-width: $sm) {
        padding-bottom: var(--sp-14);
    }
    .flex-row {
        color: var(--c1l1);
        display: flex;
        align-items: center;
        @media (max-width: $sm) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .social {
        width: calc(var(--sp-8) + 3px);
        height: calc(var(--sp-8) + 3px);
        color: var(--c1d1);
        background-color: var(--c1l1);
        border-radius: 50%;
        margin-right: var(--sp-4);
        font-size: 1.5em;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        @include t(color, background-color, transform);
        @media (max-width: $xl) {
            margin-right: var(--sp-2);
        }
        &:hover {
            background-color: var(--c1l2);
            color: white;
            transform: scale3d(1.1, 1.1, 1);
        }
    }
    .fb {
        @include icon-brand(facebook-f);
    }
    .in {
        @include icon-brand(instagram);
    }
    .li {
        @include icon-brand(linkedin-in);
    }
    h4 {
        color: inherit;
        margin: 0;
        font-size: 1.7em;
        font-weight: 300;
        margin-left: var(--sp-2);
        text-wrap: balance;
        strong {
            font-weight: 700;
        }
        @media (max-width: $xl) {
            font-size: 1.2em;
            line-height: 1.1;
        }
        @media (max-width: $sm) {
            margin: var(--sp-2) 0 0;
            text-align: center;
            width: 100%;
        }
    }
    .site-credit-wrap {
        right: 50%;
        transform: translateX(50%);
    }
}
