#site-header {
    --gap: 24px;
    z-index: 2;
    position: sticky;
    top: 0;
    margin-bottom: calc(-1 * (var(--brand-height) + var(--sp-8)));
    transform: translate3d(0, 0, 0);
    @include t(transform);
    grid-template-rows:
        [alert-start]
        auto
        [alert-end nav-start brand-start]
        auto
        [nav-end]
        1fr
        [brand-end];
    align-items: start;
    &::before {
        content: "";
        grid-column: 1 / -1;
        align-self: stretch;
        grid-row: nav;
        background: linear-gradient(to left, white, transparent);
        z-index: -1;
    }
    &.hide {
        transform: translate3d(0, calc(-1 * var(--header-height)), 0);
    }
    .brand {
        grid-column: content-start / span 3;
        grid-row: brand;
        padding-right: var(--sp-3);
        margin: var(--sp-5) 0;
        justify-self: start;
        img {
            height: var(--brand-height);
            width: 100%;
        }
    }
    .nav-group {
        grid-column: span 10 / content-end;
        grid-row: nav;
        margin: var(--sp-5) 0;
        display: flex;
        justify-content: flex-end;
        @media (min-width: $lgp) {
            margin-right: calc(var(--sp-7) - var(--sp-1));
        }
        @media (max-width: $lg) {
            display: flex;
            flex-direction: column;
            padding: 0;
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 370px;
            height: var(--vp-height, 100vh);
            background-color: white;
            box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
            transform: translate3d(-100%, 0, 0);
            @include t-hidden(transform);
        }
        @media (max-width: 450px) {
            width: 280px;
        }
        @media (max-width: 335px) {
            width: 260px;
        }
    }

    #site-search-open {
        font-size: var(--fs-xl);
        margin: var(--sp-6) 0;
        @media (min-width: $xlp) {
            margin-right: calc(-1 * var(--sp-1));
        }
        padding: var(--sp-1);
        grid-column: span 1 / content-end;
        grid-row: nav;
        justify-self: end;
        background-color: transparent;
        @include icon-reg(solid, search);
        border-radius: 100%;
        border: none;
        width: auto;
        color: var(--c2);
        line-height: 1;
        min-width: var(--sp-6);
        &:hover {
            background-color: var(--c1);
            color: white;
        }
    }
}
