#site-header {
    --gap: 24px;
    z-index: 2;
    position: sticky;
    top: 0;
    margin-bottom: calc(-1 * (var(--brand-height) + var(--sp-8)));
    transform: translate3d(0, 0, 0);
    @include t(transform);
    grid-template-rows:
        [alert-start]
        auto
        [alert-end nav-start brand-start]
        auto
        [nav-end]
        1fr
        [brand-end];
    align-items: start;
    &::before {
        content: "";
        grid-column: 1 / -1;
        align-self: stretch;
        grid-row: nav;
        --t-time: 0.75s;
        background-image: linear-gradient(to left, white, transparent);
        background-color: transparent;
        z-index: -1;
        transform-origin: top center;
        animation: nav-bar-bg-r 0.5s backwards;
        @include t(box-shadow, background-color);
    }
    .brand {
        grid-column: content-start / span 3;
        grid-row: brand;
        padding-right: var(--sp-3);
        margin: var(--sp-5) 0;
        justify-self: start;
        img {
            transform-origin: top left;
            height: var(--brand-height);
            width: 100%;
            animation: brand-bg-r 0.5s backwards;
        }
    }
    .nav-group {
        grid-column: span 10 / content-end;
        grid-row: nav;
        margin: var(--sp-5) 0;
        display: flex;
        justify-content: flex-end;
        animation: nav-group-bg-r 0.5s backwards;
        @media (min-width: $lgp) {
            margin-right: calc(var(--sp-7) - var(--sp-1));
        }
        @media (max-width: $lg) {
            display: flex;
            flex-direction: column;
            padding: 0;
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 370px;
            height: var(--vp-height, 100vh);
            background-color: white;
            box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
            transform: translate3d(-100%, 0, 0);
            @include t-hidden(transform);
        }
        @media (max-width: 450px) {
            width: 280px;
        }
        @media (max-width: 335px) {
            width: 260px;
        }
    }
    #site-search-open {
        font-size: var(--fs-xl);
        margin: var(--sp-6) 0;
        @media (min-width: $xlp) {
            margin-right: calc(-1 * var(--sp-1));
        }
        padding: var(--sp-1);
        grid-column: span 1 / content-end;
        grid-row: nav;
        justify-self: end;
        background-color: transparent;
        @include icon-reg(solid, search);
        border-radius: 100%;
        border: none;
        width: auto;
        color: var(--c2);
        line-height: 1;
        min-width: var(--sp-6);
        animation: nav-group-bg-r 0.5s backwards;
        &:hover {
            background-color: var(--c1);
            color: white;
        }
    }

    // Header States:
    &.hide {
        transform: translate3d(0, calc(-1 * var(--header-height)), 0);
    }
    &.bg {
        --brand-height: 70px;
        &::before {
            background-color: white;
            animation: nav-bar-bg 0.5s backwards;
            box-shadow: -1px 0px 10px -1px rgba(0, 0, 0, 0.4);
        }
        .nav-group {
            margin: var(--sp-7) 0;
            animation: nav-group-bg 0.5s backwards;
            @media (min-width: $lgp) {
                margin-right: calc(var(--sp-7) - var(--sp-1));
            }
        }
        #site-search-open {
            margin: var(--sp-8) 0;
            animation: nav-group-bg 0.5s backwards;
        }

        // adjustments for animation:
        .brand img {
            animation: brand-bg 0.5s backwards;
        }
    }
}
@keyframes brand-bg {
    from {
        transform: scale3d(1.58, 1.58, 1);
    }
}
@keyframes brand-bg-r {
    from {
        transform: scale3d(0.72, 0.72, 1);
    }
}
@keyframes nav-bar-bg {
    from {
        transform: scale3d(1, 0.75, 1);
    }
}
@keyframes nav-bar-bg-r {
    from {
        transform: scale3d(1, 1.3, 1);
    }
}
@keyframes nav-group-bg {
    from {
        transform: translate3d(0, -10px, 0);
    }
}
@keyframes nav-group-bg-r {
    from {
        transform: translate3d(0, 10px, 0);
    }
}
