[data-lock-id*="nav"] #site-header {
    &::after,
    &::before {
        transform: translate3d(0, 0, 0);
    }
    @media (max-width: $lg) {
        .nav-group {
            transform: translate3d(0, 0, 0);
            @include t-visible(transform);
        }
        #mobile-close-trigger {
            transform: translate3d(100%, 0, 0);
        }
    }
}
#site-header {
    // @media (max-width: $lg) {
    //     &::before {
    //         content: "";
    //         position: fixed;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: var(--vp-height, 100vh);
    //         z-index: 1;
    //         @include t(transform);
    //         transform: translate3d(-100%, 0, 0);
    //         background-color: var(--c1d2t1);
    //         backdrop-filter: blur(5px);
    //     }
    // }
    #mobile-open-trigger {
        grid-row: nav;
        grid-column: content;
        transform: translateX(-100%);
        --bar-weight: 3px;
        --margin: 3px;
        --anim-offset: 9.5px;
        display: flex;
        background-color: transparent;
        border: none;
        border-radius: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        place-self: center end;
        padding: 10px;
        margin: 10px 0;
        margin-right: -6px;
        @include t(background-color);
        @media (min-width: $lgp) {
            display: none;
        }
        @media (max-width: $xs) {
            --bar-weight: 2px;
            --margin: 2.5px;
            --anim-offset: 7px;
            margin-left: -12px;
            width: 35px;
            height: 35px;
            padding: 7px;
        }
        div {
            width: 100%;
            height: var(--bar-weight);
            border-radius: 4px;
            background-color: var(--c3);
            @include t(background-color, transform);
            margin: var(--margin) 0;
            transform-origin: center right;
            @media (max-width: $xs) {
                height: 2px;
                margin: 2.5px 0;
            }
        }
        &:hover {
            background-color: var(--c1);
            --r-offset: calc(var(--anim-offset) * -1);
            div:first-child {
                transform: translate3d(0, var(--anim-offset), 0) rotate(45deg) scale3d(0.5, 1, 1);
            }
            div:last-child {
                transform: translate3d(0, var(--r-offset), 0) rotate(-45deg) scale3d(0.5, 1, 1);
            }
            div {
                background-color: white;
            }
        }
    }
    #mobile-close-trigger {
        @media (min-width: $lgp) {
            display: none;
        }
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 38px;
        text-align: center;
        transform: translate3d(0, 0, 0);
        background-color: var(--c3);
        color: white;
        font-size: 1.75em;
        padding: 5px 10px;
        line-height: 1;
        border: none;
        border-left: 1px solid var(--c3);
        @include icon-reg(regular, times);
        border-radius: 0 30px 30px 0;
        @include t(transform, background-color);
        &::after {
            @include t(transform, content);
        }
        &:hover {
            background-color: var(--c3d1);
            @include icon-reg(regular, arrow-right);
            &::after {
                transform: rotate3d(0, 0, 1, 180deg) scale3d(0.8, 0.8, 1);
            }
        }
    }
}
#main-nav {
    // generic styles
    @media (max-width: $lg) {
        --mobile-nav-padding: 30px;
    }
    ul {
        padding: 0;
        margin: 0;
        line-height: 1;
        @media (max-width: $lg) {
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1 1 auto;
            align-self: stretch;
        }
    }
    li {
        list-style: none;
        position: unset;
        line-height: 1;
        display: grid;
        grid-template-areas:
            "link      button"
            "sub-group sub-group";
        grid-template-columns: auto auto;
        grid-template-rows: auto 0px;
        align-content: end;
    }
    :is(a, button) {
        display: block;
        color: var(--c1d1);
        text-wrap: balance;
        text-decoration: none;
        font-size: var(--fs-md);
        padding: var(--sp-3) 14px;
        border-radius: var(--sp-2);
        line-height: 1;
        @include t;
        @media (max-width: $xl) {
            padding: var(--sp-3) 7px;
        }
        &:hover {
            color: var(--c1);
        }
    }
    a {
        grid-area: link;
        &:hover {
            background-color: white;
        }
        &:only-child {
            grid-area: 1 / 1 / -1 / -1;
        }
    }
    button {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        position: relative;
        @include t(color);
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: white;
            z-index: -1;
            @include t(transform);
        }
        &::after {
            color: var(--c2);
        }
        &:hover::before {
            transform: translate3d(0, 0, 0);
        }
        &[aria-expanded="true"]::before {
            transform: translate3d(0, 0, 0);
        }
    }

    // element classes
    .top-list {
        @media (min-width: $lgp) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        @media (max-width: $lg) {
            padding: 0 var(--mobile-nav-padding);
        }
    }
    .top-item {
        font-weight: 500;

        @media (min-width: $lgp) {
            &:first-child {
                margin-left: 0;
            }
            &:hover > button::before {
                transform: translate3d(0, 0, 0);
            }
        }
        > :is(a, button) {
            position: relative;
            color: var(--c1d1);
            font-weight: 600;
            font-size: var(--fs-lg);
            letter-spacing: 0.005em;
            @include t;
            @media (max-width: $xl) {
                font-size: 0.95em;
                letter-spacing: -0.01em;
            }
        }
        > .sub-group {
            border-radius: 0 0 var(--sp-4) var(--sp-4);
            @media (max-width: $xl) {
                border-radius: 0 0 var(--sp-2) var(--sp-2);
            }
        }
    }
    .sub-group {
        grid-area: sub-group;
        z-index: 2;
        place-self: start stretch;
        background-color: white;
        overflow: hidden;
        @media (min-width: $lgp) {
            box-shadow: 0px 13px 20px -8px rgba(0, 0, 0, 0.25);
            max-height: 0;
            @include t-hidden(max-height);
            display: flex;
        }
        @media (max-width: $lg) {
            position: absolute;
            width: 100%;
            transform: translate3d(-100%, 0, 0);
            @include t-hidden(transform);
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &:hover {
            @media (min-width: $lgp) {
                max-height: var(--sub-height, 200px);
                @include t-visible(max-height);
            }
        }
    }
    .sub-list {
        padding: 0 var(--sp-2);
        @media (min-width: $lgp) {
            width: 50px;
            flex: 1 1 auto;
        }
        @media (max-width: $lg) {
            padding: 0 var(--mobile-nav-padding);
        }
    }
    .sub-item {
        color: var(--c1);
        &:last-child {
            border-bottom: none;
            padding-bottom: var(--sp-4);
        }
        :is(a, button) {
            border-radius: 0;
            color: var(--c1);
            font-weight: 600;
            font-size: 0.85em;
            padding: 7px 8px;
            border-radius: 0 var(--sp-2) 0 var(--sp-2);
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 8px;
                width: 2px;
                height: calc(100% - 8px);
                background-color: var(--c1d1);
                opacity: 0;
            }
            @media (min-width: $lgp) {
                &:hover {
                    color: var(--c1d1);
                    background-color: var(--c2l3);
                    padding-left: var(--sp-4);
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    :is(.sub-name, .sub-close) {
        @media (min-width: $lgp) {
            display: none;
        }
    }
    .sub-name {
        width: 100%;
        color: var(--c4);
        line-height: 1.1;
        padding: 5px var(--mobile-nav-padding);
        em {
            font-style: normal;
            font-size: 0.8em;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        strong {
            color: var(--c1);
            display: block;
            font-size: 1.75em;
            font-weight: 900;
        }
    }
    .sub-open {
        grid-area: button;
        border-radius: var(--sp-4) var(--sp-4) 0 0;
        @include icon-reg(solid, chevron-down);
        &::after {
            margin-top: -2px;
        }
        @media (min-width: $lgp) {
            &:hover + .sub-group {
                max-height: var(--sub-height, 200px);
                @include t-visible(max-height);
            }
        }
        @media (max-width: $xl) {
            @media (max-width: $xl) {
                border-radius: var(--sp-2) var(--sp-2) 0 0;
            }
        }
        @media (max-width: $lg) {
            @include icon-reg(regular, circle-chevron-right);
            &:hover {
                @include icon-reg(solid, circle-chevron-right);
            }
            &::after {
                @include t;
            }
            &[aria-expanded="true"] + .sub-group {
                transform: translate3d(0, 0, 0);
                @include t-visible(transform);
            }
        }
        &:first-child {
            grid-column: link / button;
            &::after {
                padding-left: 5px;
            }
        }
        &:nth-child(2) {
            padding: var(--sp-1);
            margin-left: calc(-1 * var(--sp-1));
        }
        &::before {
            transform: translate3d(0, 100%, 0);
        }
        &[aria-expanded="true"] {
            @media (min-width: $lgp) {
                &::after {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
                &:first-child::after {
                    transform: rotate3d(0, 0, 1, 180deg) translate3d(-10px, 0, 0);
                }
                + .sub-group {
                    max-height: var(--sub-height, 200px);
                    @include t-visible(max-height);
                }
            }
        }
    }
    .sub-close {
        color: var(--c3d1);
        font-weight: 700;
        justify-content: center;
        padding: 3px 1px;
        border: none;
        margin: var(--mobile-nav-padding);
        position: relative;
        letter-spacing: 0;
        @include t(color, background-color);
        @include icon-reg(solid, arrow-left, before);
        &::before {
            padding-right: 5px;
            font-size: 1.2em;
            color: var(--c3);
            transform: translate3d(0, 1px, 0);
            @include t(transform);
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background-color: var(--c3d1);
            transform: scale3d(0, 1, 1);
            transform-origin: right;
            @include t(transform);
        }
        &:hover {
            background-color: transparent;
            font-weight: 700;
            letter-spacing: 0;
            &::before {
                transform: translate3d(-4px, 1px, 0);
            }
            &::after {
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(15px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
