[data-lock-id*="nav"] {
    #site-header {
        @media (max-width: $lg) {
            &::after {
                transform: translate3d(0, 0, 0) !important;
            }
            &::before {
                transform: translate3d(0, 0, 0);
            }
            .nav-group {
                transform: translate3d(0, 0, 0);
                @include t-visible(transform);
            }
        }
    }
}
#site-header {
    @media (max-width: $lg) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100vw;
            height: var(--vp-height, 100vh);
            z-index: 0;
            @include t(transform);
            transform: translate3d(100%, 0, 0);
            background-color: var(--c1d1t1);
            backdrop-filter: blur(5px);
        }
    }
}
#mobile-open-trigger {
    grid-row: nav;
    grid-column: content;
    transform: translateX(-100%);
    cursor: pointer;
    place-self: center end;
    // --margin: 0px;
    display: flex;
    background-color: transparent;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px var(--sp-2);
    width: 40px;
    height: 40px;
    margin: var(--sp-4) 0;
    --bar-weight: 2px;
    --anim-offset: 8px;
    @include t(background-color);
    @media (min-width: $lgp) {
        display: none;
    }
    div {
        width: 100%;
        height: var(--bar-weight);
        border-radius: 4px;
        background-color: var(--c3);
        @include t(background-color, transform);
        margin: 0;
        transform-origin: center left;
    }
    &:hover {
        background-color: var(--c1);
        --r-offset: calc(var(--anim-offset) * -1);
        div:first-child {
            transform: translate3d(0, var(--anim-offset), 0) rotate(45deg) scale3d(0.5, 1, 1);
        }
        div:last-child {
            transform: translate3d(0, var(--r-offset), 0) rotate(-45deg) scale3d(0.5, 1, 1);
        }
        div {
            background-color: white;
        }
    }
}
#mobile-close-trigger {
    @media (min-width: $lgp) {
        display: none;
    }
    width: 50px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    background-color: var(--c1);
    color: white;
    font-size: 1.75em;
    padding: 10px;
    margin: 10px;
    line-height: 1;
    border: none;
    align-self: start;
    @include t(transform, background-color);
    @include icon-reg(regular, times);
    &::after {
        @include t(transform, content);
    }
    &:hover {
        background-color: var(--c1d1);
        @include icon-reg(regular, arrow-left);
        &::after {
            transform: rotate3d(0, 0, 1, 180deg) scale3d(0.8, 0.8, 1);
        }
    }
}
#main-nav {
    // generic styles
    @media (max-width: $lg) {
        flex: 1 1 auto;
        --mobile-nav-padding: 10px;
    }
    ul {
        padding: 0;
        margin: 0;
        line-height: 1;
        @media (max-width: $lg) {
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1 1 auto;
            align-self: stretch;
        }
    }
    li {
        list-style: none;
        position: unset;
        line-height: 1;
        display: block;
        @media (min-width: $lgp) {
            display: grid;
            grid-template-areas:
                "link      button"
                "sub-group sub-group";
            grid-template-columns: auto auto;
            grid-template-rows: auto 0px;
            align-content: end;
        }
        @media (max-width: $lg) {
            padding-bottom: 2px;
        }
    }
    :is(a, button) {
        display: block;
        color: var(--c1d1);
        text-wrap: balance;
        text-decoration: none;
        font-size: 0.9em;
        letter-spacing: -0.01em;
        padding: var(--sp-3) 14px;
        background-color: transparent;
        line-height: 1;
        @include t;
        @media (max-width: $xl) {
            padding: var(--sp-3) 7px;
        }
        @media (min-width: $lgp) {
            border-radius: var(--sp-2);
        }
        @media (max-width: $lg) {
            border: 3px solid var(--c5l3);
            padding: var(--sp-3) 7px 10px;
            &:hover {
                background-color: var(--c5l3);
            }
        }
        &:hover {
            color: var(--c1);
        }
    }
    a {
        grid-area: link;
        &:hover {
            background-color: white;
        }
        &:only-child {
            grid-area: 1 / 1 / -1 / -1;
        }
    }
    button {
        overflow: hidden;
        position: relative;
        @include t(color);
        @media (min-width: $lgp) {
            border: 0;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: white;
                z-index: -1;
                @include t(transform);
            }
            &:hover::before {
                transform: translate3d(0, 0, 0);
            }
            &[aria-expanded="true"]::before {
                transform: translate3d(0, 0, 0);
            }
            &::after {
                color: var(--c2);
            }
        }
    }

    // element classes
    .top-list {
        @media (min-width: $lgp) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        @media (max-width: $lg) {
            padding: 0 10px;
        }
    }
    .top-item {
        font-weight: 500;
        @media (min-width: $lgp) {
            &:first-child {
                margin-left: 0;
            }
            &:hover > button::before {
                transform: translate3d(0, 0, 0);
            }
        }
        > :is(a, button) {
            position: relative;
            font-weight: 600;
            letter-spacing: 0.005em;
            @include t;
            &:hover {
                color: var(--c1);
            }
            @media (min-width: $xlp) {
                font-size: 1.125em;
            }
            @media (min-width: $lgp) {
                color: var(--c1d1);
            }
            @media (max-width: $lg) {
                font-size: 0.95em;
            }
        }
        > .sub-group {
            border-radius: 0 0 var(--sp-4) var(--sp-4);
            @media (max-width: $xl) {
                border-radius: 0 0 var(--sp-2) var(--sp-2);
            }
            @media (max-width: $lg) {
                border-radius: 0;
            }
        }
    }
    .sub-group {
        grid-area: sub-group;
        z-index: 2;
        place-self: start stretch;
        background-color: white;
        overflow: hidden;
        @media (min-width: $lgp) {
            box-shadow: 0px 13px 20px -8px rgba(0, 0, 0, 0.25);
            max-height: 0;
            @include t-hidden(max-height);
            display: flex;
        }
        @media (max-width: $lg) {
            position: absolute;
            width: 100%;
            transform: translate3d(100%, 0, 0);
            @include t-hidden(transform);
            top: 0;
            left: 0;
            height: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
        }
        &:hover {
            @media (min-width: $lgp) {
                max-height: var(--sub-height, 200px);
                @include t-visible(max-height);
            }
        }
    }
    .sub-list {
        padding: 0 var(--sp-2);
        width: 100%;
        align-self: stretch;
        @media (min-width: $lgp) {
            width: 50px;
            flex: 1 1 auto;
        }
        @media (max-width: $lg) {
            padding: 0 var(--mobile-nav-padding);
            grid-column: span 2;
        }
    }
    .sub-item {
        color: var(--c1);
        &:last-child {
            border-bottom: none;
            padding-bottom: var(--sp-4);
        }
        :is(a, button) {
            border-radius: 0 var(--sp-2) 0 var(--sp-2);
            position: relative;
            font-weight: 600;
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 8px;
                width: 2px;
                height: calc(100% - 8px);
                background-color: var(--c1d1);
                opacity: 0;
            }
            @media (min-width: $lgp) {
                font-size: 0.9em;
                padding: 7px 16px 7px 8px;
                color: var(--c1);
                &:hover {
                    color: var(--c1d1);
                    background-color: var(--c2l3);
                    padding-left: var(--sp-4);
                    padding-right: 8px;
                    &::before {
                        opacity: 1;
                    }
                }
            }
            @media (max-width: $lg) {
                border-radius: 0;
            }
        }
    }
    :is(.sub-name, .sub-close) {
        @media (min-width: $lgp) {
            display: none;
        }
    }
    .sub-name {
        // width: 100%;
        color: var(--c4);
        line-height: 1.1;
        padding: var(--mobile-nav-padding);
        place-self: center start;
        em {
            font-style: normal;
            font-size: 0.8em;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        strong {
            color: var(--c1);
            display: block;
            font-size: 1.1em;
            font-weight: 900;
        }
    }
    .sub-open {
        grid-area: button;
        @include icon-reg(solid, chevron-down);
        &::after {
            margin-top: -2px;
        }
        @media (min-width: $lgp) {
            border-radius: var(--sp-4) var(--sp-4) 0 0;
            &:hover + .sub-group {
                max-height: var(--sub-height, 200px);
                @include t-visible(max-height);
            }
        }

        @media (max-width: $lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include icon-reg(regular, chevron-right);
            &::after {
                @include t;
            }
            &[aria-expanded="true"] + .sub-group {
                transform: translate3d(0, 0, 0);
                @include t-visible(transform);
            }
        }
        &:first-child {
            grid-column: link / button;
            @media (max-width: $lg) {
                width: 100%;
            }
            &::after {
                padding-left: 5px;
            }
        }
        &:nth-child(2) {
            padding: var(--sp-1);
            margin-left: calc(-1 * var(--sp-1));
        }
        &::before {
            transform: translate3d(0, 100%, 0);
        }
        &[aria-expanded="true"] {
            @media (min-width: $lgp) {
                &::after {
                    transform: rotate3d(0, 0, 1, 180deg);
                }
                &:first-child::after {
                    transform: rotate3d(0, 0, 1, 180deg) translate3d(-10px, 0, 0);
                }
                + .sub-group {
                    max-height: var(--sub-height, 200px);
                    @include t-visible(max-height);
                }
            }
        }
    }
    .sub-close {
        color: white;
        background-color: var(--c1);
        padding: var(--sp-2) var(--sp-3);
        font-weight: 700;
        justify-content: center;
        border: none;
        margin: var(--mobile-nav-padding);
        position: relative;
        letter-spacing: 0;
        @include t(color, background-color);
        @include icon-reg(solid, arrow-left, before);
        &::before {
            padding-right: 5px;
            font-size: 1.2em;
            transform: translate3d(0, 1px, 0);
            @include t(transform);
        }
        &:hover {
            background-color: var(--c1d1);
            color: white;
        }
    }
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(15px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
