#secretary-bar {
    padding: 50px 0;
    background-color: var(--c1d2);
    color: white;
    grid-auto-flow: dense;
    align-items: center;
    grid-template-rows: auto;
    row-gap: 12px;
    &::before,
    &::after {
        grid-row-end: -1;
    }
    @media (max-width: $lg) {
        grid-template-rows: auto auto auto;
        .c2 {
            grid-column: span 4;
            grid-row: span 3;
        }
        :is(.c6, .c3, .c1) {
            grid-column: span 8;
        }
    }
    @media (max-width: $md) {
        .c2 {
            grid-row: span 1;
        }
        :is(.c1, .c3) {
            grid-column: span 12;
        }
    }
    @media (max-width: $sm) {
        grid-template-rows: repeat(4, auto);
        text-align: center;
        :is(.c1, .c2, .c3, .c6) {
            grid-column: span 12;
            grid-row: auto / span 1;
        }
    }
    .details {
        @media (min-width: $lgp) {
            margin-right: -24px;
            margin-left: 48px;
        }
    }
    h2 {
        align-self: center;
        display: block;
        font-size: 1.2em;
        font-weight: 900;
        @media (max-width: $xl) {
            font-size: 1em;
        }
        span {
            color: white;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        em {
            letter-spacing: -0.8px;
            font-size: 3.1rem;
            display: block;
            font-style: italic;
            color: var(--c1l1);
            @media (max-width: $xxl) {
                font-size: 2.9rem;
            }
            @media (max-width: $xl) {
                font-size: 2.3rem;
            }
            @media (max-width: $md) {
                font-size: 1.8rem;
            }
        }
    }
    p {
        font-size: 0.95em;
        line-height: 1.5;
        margin-bottom: 0;
        @media (max-width: $lg) {
            line-height: 1.3;
            font-size: 0.925em;
        }
    }
    .img-cont {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid var(--c1);
        justify-self: center;
        width: 200px;
        @media (min-width: $lgp) {
            margin-right: -24px;
        }
        @media (max-width: $md) {
            margin: 0;
        }
        @media (max-width: $sm) {
            max-width: 200px;
        }
        img {
            width: 100%;
            border-radius: 200px;
            // object-fit: cover;
            // object-position: 50% 30%;
            border: 3px solid var(--c1d3);
        }
    }
    .vert {
        display: block;
        width: 8px;
        height: 100%;
        justify-self: center;
        background-color: var(--c1);
        border-radius: 10px;
        border: 0;
        padding: 0;
        margin: 0;
        opacity: 1;
        @media (max-width: $lg) {
            width: 100%;
            height: 8px;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 150px;
        justify-content: space-between;
        @media (max-width: $xl) {
            max-height: 130px;
            @media (min-width: $lgp) {
                margin-left: -24px;
            }
        }
        @media (max-width: $lg) and (min-width: 430px) {
            display: block;
            columns: 2 auto;
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: 350;
            break-inside: avoid;
            display: block;
            text-wrap: balance;
            line-height: 1.1;
            margin-bottom: 10px;
            text-wrap: balance;
            @include t(color);
            @include icon-reg(solid, arrow-right);
            @media (max-width: $xl) {
                font-size: 0.9em;
            }
            &:hover {
                color: var(--c4l2);
                text-decoration: underline;
                &::after {
                    color: var(--c4l2);
                    transform: translate3d(5px, 0, 0);
                }
            }
            &::after {
                padding-left: 10px;
                color: var(--c1l1);
                @include t(transform);
            }
        }
    }
    &[data-in="false"] {
        > * {
            opacity: 0;
        }
    }
    &[data-in="true"] {
        > * {
            animation: fadeUp 0.6s 0.1s var(--easing) backwards;
            @for $i from 2 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.1s * $i;
                }
            }
        }
    }
}
