.site-credit-animated.light {
    .covalent {
        path, polygon {
            fill: black;
        }
    }
    .logic path{ fill: black; }
    .created{
        path,rect{
            fill: black;
        }
    }
    .logo path {
            fill: black;
    }
    .logo-shapes *{
        fill: none;
        stroke: #B8B8B8;
    }
}
