<nav id="top-nav">
    <ul>
        <li><a href="/#for-businss">For Businesses</a></li>
        <li><a href="/#for-providers">For Providers</a></li>
        <li><a href="/#for-employees">For Employees</a></li>
    </ul>
</nav>